html {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 2;
}

body {
  padding: 10px 100px 0 100px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: white;
  overflow-x: auto;
  overflow-y: scroll;
  /* border: solid 1px black; */
}

header {
  height: 150px;
}

h1 {
  font-size: 50px;
  line-height: 140px;
  margin: 0 0 0 32.5px;
}

h2 {
  margin: 0 0 0 10px;
  font-size: 30px;
}

h3 {
  margin: 20px 0 0 35px;
}


.content_container {
  margin: 20px 20px 50px 0;
  text-indent: 30px;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}

.self_intro {
  font-size: 20px;
  text-indent: 20px;
  padding-right: 30px;
  margin: 25x;
}

#cat_pic_about_me{
  float: left;
  max-width: 100%;
  margin-left: 10px;
}


.socials{
  padding: 10px;
}

.socials a {
  margin: 10px 15px 10px 10px;
}

.tobar_video {
  float: right;
  max-width: 100%;
  margin-left: 10px;
}

.our_story {
  font-size: 20px;
  text-indent: 20px;
  /* padding-right: 30px; */
  margin: 30px;
  padding: 0 0 0 0
}