html {
  font-family: 'Open Sans', sans-serif;
  background: url(images/pattern_light.jpg)
}

body {
  padding: 10px 100px 300px 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: white;
  font-size: 20px;
  line-height: 2;
  text-indent: 30px;
  
}

header {
  height: 150px;
}

h1 {
  font-size: 50px;
  line-height: 140px;
  margin: 0 0 0 32.5px;
}

h2 {
  margin: 0 0 0 20px;
  font-size: 30px;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  font-family: sans-serif;
  border-bottom: rgb(211, 211, 211);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.topnav a {
  float: left;
  width: 100px;
  display: block;
  color:black;
  font-weight: 500;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  border-bottom: solid transparent;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: gray;
}

/* Add a color to the active/current link */
.topnav a.active {
  border-bottom: 3px solid black;
}


.about_me {
  padding: 20px 20px 50px 0;
  text-indent: 30px;
  margin-left: 10px;
  width: 100%;
  height: 100%;
}

#cat_pic_about_me{
  float: left;
  max-width: 100%;
  margin-right: 30px;
  margin-left: 60px;
}

.socials{
  padding: 10px;
}

.socials a {
  margin: 15px;
}